# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.env

# Node
node_modules/
dist/
dist-ssr/
*.local

# Environment files
.env
.env.local
.env.production
.env.*.local

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Large Media
*.mp4
phototo/
frontend/public/assets/*.mp4
